name: E2E - Locust on kind

on:
  push:
    branches: [ "Master","dev", "pipelines"  ]
  pull_request:
    branches: [ "Master","dev","pipelines" ]
  workflow_dispatch: {}

jobs:
  e2e-locust:
    runs-on: self-hosted
    timeout-minutes: 45
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Locust deps
        run: |
          python -m pip install --upgrade pip setuptools wheel
          python -m pip install -r tests/locust/requirements.txt
          python -c "import locust, sys; print('Locust:', locust.__version__)"

      - name: Install kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: latest

      - name: Run Locust E2E script
        shell: pwsh
        run: |
          .\run-locust.ps1
      - name: Upload Locust report
        uses: actions/upload-artifact@v4
        with:
          name: locust-report
          path: |
            locust-report.html
